<%- include('./includes/header') %>
</br><br><br><br><br><br>


<div class="container">
   <form action="/create" method="POST" class="col s12" enctype="multipart/form-data" >

    <div class="">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" name="title" type="text" class="validate" required>
        <label for="icon_prefix"><Title></Title></label>
      </div><br><br>
      <div class="input-field col s6">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="textarea1" name="content" class="materialize-textarea"></textarea>

        <label for="icon_telephone">Content</label>
      </div><br><br>
      <input type="file" name="photos" multiple required/>

      <button class="btn waves-effect waves-light" type="submit" name="action">Create
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>


  <%- include('./includes/footer') %>
